.selectContainer {
  display: flex;
  flex-direction: column;
  gap: var(--margin-extra-small)
}

.label {
  margin-bottom: var(--margin-extra-small);
  color: var(--color-primary-900);
}

.select {
  padding: var(--padding-small) var(--padding-medium);
  border: var(--border-light);
  border-radius: var(--border-radius-small);
  background-color: white;
  cursor: pointer;
  outline: none;
}

.select:focus {
  border-color: var(--color-primary-100);
}
